<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SandwichBucket</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Monoton&family=Permanent+Marker&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="~/css/site.css" />
  <link rel="icon" type="image/png" href="~/img/sandwich.gif">
  <script src="/lib/jquery/dist/jquery.js"></script>
  <script src="/js/site.js"></script>
</head>
<body>
  <a href="https://www.epicodus.com/"><img id="banner-1" style="margin: auto;display: block" /></a>
  <header>
    <h1 class="glow" style="text-align: center;size: 150%;">
    <a href="https://www.youtube.com/watch?v=k85mRPqvMbE"><img src="/img/sandwich.gif" /></a>
    THE SANDWICH BUCKET
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img src="/img/sandwich.gif" /></a></h1>
  </header>
  <hr>
  @RenderBody()
  <hr>
  <a href="/"><button type="button">Home Sweet Home</button></a>
  <a href="/Sandwiches"><button type="button">Sandwiches</button></a>
  <a href="/Ingredients"><button type="button">Ingredients</button></a>
  <a href="/Tags"><button type="button">Tags</button></a>
  <a href="/Scales"><button type="button">Sandwich for Scale</button></a>
  <a href="/SandwichBattle"><button type="button">FIGHT YOUR SANDWICH TO THE DEATH</button></a>
  <a href="/Flappy"><button type="button">PLAY A GAME OF FLAPPYBREAD</button></a>
  <hr>
  <footer>
  <img src="/img/buttons/beer.gif" />
  <img src="/img/buttons/coffee.gif" />
  <br />
  <img src="/img/buttons/browser.gif" />
  <img src="/img/buttons/html.gif" />
  <img src="/img/buttons/xpress.gif" />
  <img src="/img/buttons/drpepper.gif" />
  <br />
  <img src="/img/construction.gif" />
  <br />
  <img src="/img/mess.gif" />
  <br />
  <img src="/img/neko.gif" />
  </footer>
  <a href="https://epicodus.com/"><img id="banner-2" style="margin: auto;display: block"/></a>
  <embed loop="true" id="song" type="audio/mpeg" autoplay>
</body>
</html>
