<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - SandwichBucket</title>
  <!-- <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="~/css/site.css" />
  <link rel="icon" type="image/png" href="~/img/sand.png">
</head>
<body>
  <a style="margin: auto" href="https://www.match.com/"><img src="/img/match-com-2000.gif" /></a>
  <header>
    <h1 style="text-align: center;size: 150%;"><img src="/img/sandwich.gif" />THE SANDWICH BUCKET <img src="/img/sandwich.gif" /></h1>
  </header>
  <hr>
  @RenderBody()
  <hr>
  <footer>
  <img src="/img/buttons/beer.gif" />
  <img src="/img/buttons/coffee.gif" />
  <br />
  <img src="/img/buttons/browser.gif" />
  <img src="/img/buttons/html.gif" />
  <img src="/img/buttons/xpress.gif" />
  <img src="/img/buttons/drpepper.gif" />
  <br />
  <img src="/img/construction.gif" />
  <br />
  <img src="/img/neko.gif" />
  </footer>
  <a href="https://epicodus.com/"><img src="/img/the-street-2000.gif" /></a>
  <audio controls autoplay loop>
    <source src="/midi/korn_quiet.mp3" type="audio/mpeg">
  </audio>
  <script>
    alert("WELCOME TO YOUR #1 SITE FOR SANDWICH RECIPES ON THE INTERNET!!!");
  </script>
</body>
</html>
