@model SandwichBucket.Models.Tag

<h1>@Model.Name</h1>

<p>(What else did you expect? It's a tag!)</p>

<a href="/Tags/Edit/@Model.TagId"><button type=button>TAG SOMEONE ELSE IN</button></a>
<a href="/Tags/Delete/@Model.TagId"><button type=button>YOU'RE NO LONGER IT</button></a>