
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.jump .game {
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid black;
  background-image:url(../img/battle/battlescreen.png);
  background-size: 300px 300px;
  width: 305px;
  min-height: 300px;
  margin-top: 20px;
  margin-bottom: 0px;
  background-color: white;
  text-align: center;
}

#enemy-name{
  position:relative;
  font-family: "Press Start 2P";
  font-size: 9px;
  top: -72px;
  left: -10px;
}
#enemy-sandwich {
  width: 80px;
  position: relative;
  left: 120px;
  top: 10px;
}
#player-sandwich{
  width: 80px;
  position: relative;
  top: 125px;
  left: -130px;
}

.menu {
  font-family: "Press Start 2P";
  font-size: 12px;
}

#fight {
  position: relative;
  top: 120px;
  left: 25px;
}

#select {
  width: 20px;
  position: relative;
  top: 97px;
  left: -13px;
  visibility: hidden;
}

#select-exit {
  width: 20px;
  position: relative;
  top: 87px;
  left: -13px;
  visibility: hidden;
}

#exit {
  position: relative;
  top: 110px;
  left: 20px;
}

#fight:hover + #select {
  visibility: visible;
}

#exit:hover + #select-exit{
  visibility: visible;
}

a:link {
  text-decoration: none;
  color: black;
}

#enemy-level {
  font-family: "Press Start 2P";
  position: relative;
  font-size: 13px;
  top: -193px;
  left: -65px;
}

#player-level {
  font-family: "Press Start 2P";
  position: relative;
  font-size: 13px;
  top: -45px;
  left: 90px;
}

#attack-ball {
  width: 20px;
  position: relative;
  top: -110px;
  left: -65px;
  visibility: hidden;
}

#eattack-ball {
  width: 20px;
  position: relative;
  height: 20px;
  top: -190px;
  left: 30px;
  visibility: hidden
}

.animate {
  animation: attack 0.5s linear;
}
.eanimate {
  animation: eattack 0.5s linear;
}
.ouchie {
  animation: ouch 5s linear;
}
@keyframes attack {
  0% {top: -65px; visibility: visible}
  100% {top: -200px; left: 80px;}
}
@keyframes eattack {
  0% {top: -200px; visibility: visible}
  100% {top: -90px; left: -100px;}
}
@keyframes ouch {
  0% {visibility: hidden}
  30% {visibility: visible}
  60% {visibility: hidden}
  100% {visibility: visible}
}
