* {
  color: white;
  text-shadow: rgb(99, 32, 32) 1px 1px;
}

body {
	max-width: 60rem;
	margin: 0 auto;
	background: url(/img/bg-star.png) repeat;
	background-size: 400px;
	cursor: url(/img/sandwich_cursor.png), wait;	
}

input {
	color: black;
	text-shadow: none;
}

.sandlist {
	border: 1px solid green;
	width: 50%;
	padding-left: 50px;
	padding-bottom: 20px;
	margin: auto;
	margin-bottom: 5px;
	list-style-type: square;
}
.ing {
	border: 1px dotted red;
	padding: 10px;
	margin: auto;
}
ul, li {
	font-weight: bold;
	font-size: 1.3rem;
	
}

ul, li, footer {
  text-align: center;
}

#header {
	position: fixed;
  justify-content: center;
  align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 10%;
	color: rgb(10, 10, 10);
	background: url(https://cdn.picpng.com/bread/bread-clipart-26272.png) repeat;
  background-size: 10% 100%;
  padding: 0.625rem;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
#top {
	text-decoration: none;
}

#footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	color: #CCC;
	background: url(https://www.clipartkey.com/mpngs/m/10-105671_clipart-bread-sandwich-bread-baguette-sandwich-clipart.png) repeat;
	height: 5%;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.space {
  height: 10%;
	margin-top: 10%;
}

.space2 {
  height: 10%;
	margin-bottom: 10%;
}

button, select, option {
	border-radius: 0px;
	color: black;
	font-family: serif;
	font-size: 18px;
	text-shadow: none;
}

.stylized {
	color: red;
}

.glow {
	font-size: 200%;
	font-family: 'Monoton', cursive;
  color: white;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px white, 0 0 20px #fff, 0 0 30px #FF851B, 0 0 40px #FF851B, 0 0 50px #FF851B, 0 0 60px #FF851B, 0 0 70px #FF851B;
  }
  to {
    text-shadow: 0 0 20px white, 0 0 30px orangered, 0 0 40px orangered, 0 0 50px orangered, 0 0 60px orangered, 0 0 70px orangered, 0 0 80px orangered;
  }
}

.delete-button {
	margin: auto;
	display: block;
	animation: angry 1s linear infinite normal;
}

.are-you-sure {
	color: red;
	text-align: center;
}

@keyframes angry {
	from {
    text-shadow: 0 0 10px red, 0 0 11px red, 0 0 12px red, 0 0 13px red, 0 0 14px red, 0 0 15px red, 0 0 20px red, 0 0 30px red, 0 0 40px red, 0 0 50px red, 0 0 60px red, 0 0 700px red;
  }
  to {
    text-shadow: 0 0 20px black, 0 0 30px black, 0 0 40px black, 0 0 50px black, 0 0 60px black, 0 0 70px black, 0 0 80px black;
  }	
}

#results {
	color: red;
	animation: blink-animation 1s steps(5, start) infinite;
	-webkit-animation: blink-animation 1s steps(5, start) infinite;
	font-size: 2em;
}
	@keyframes blink-animation {
		to {
			visibility: hidden;
		}
	}
	@-webkit-keyframes blink-animation {
		to {
			visibility: hidden;
		}
}
#sand-scale {
	padding: 10px;
	height: 3em;
}