<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/scales.js"></script>

<h1>Sandwich for Scale</h1>
<form id="convert">
  <label for="user-weight">Your weight in pounds</label>
  <input id="user-weight" type="number" name="user-weight" required></input>

  <label for="user-height">Your height in feet</label>
  <input id="user-height" type="number" required></input>
  <button type="submit">Grind</button>
</form>

<div id="sand-scale">
  <span id="results"></span>
</div>


