<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/scales.js"></script>

<h1>Sandwich for Scale</h1>
<form id="convert">
  <label for="user-weight">Your weight</label>
  <input id="user-weight" type="number" name="user-weight"></input>

  <label for="user-height">Your height</label>
  <input id="user-height" type="number"></input>
  <button type="submit">Grind</button>
</form>

<span id="results">Hay</span>


