<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/scales.js"></script>

<h1>Sandwich for Scale</h1>
<form id="convert">
  
  <label for="user-weight">Your weight</label>
  <input id="user-weight" type="number" name="user-weight" required></input>

  <select name="weight-unit" id="weight-unit">
    <option value="lbs">lbs</option>
    <option value="kilos">kilos</option>
  </select>

  <label for="user-height">Your height:</label>
  <input id="user-height" type="number" step="0.01" required></input>

  <select name="height-unit" id="height-unit">
    <option value="feet">feet</option>
    <option value="meters">meters</option>
  </select>

   <button type="submit">Grind</button>
</form>

<div id="sand-scale">
  <span id="results"></span>
</div>


